caption {
    margin: 10px;
    font-size: 24px;
}

table {
    font-size: 24px;
}

table th{
    border: solid 1px white;
}

.cabecalho-moda {
    background-color: #BB86FC;
}

.cabecalho-casa {
    background-color: #00C4B4;
}

tbody {
    background-color: #424250;
}
